// variables
@import "variables";

//

.main {
    background: $bg-color2;
    height: 100vh;
    display: flex;
    align-items: stretch;
main{
    section {

        h2 {
            font-family: $font-family1;
            color: $font-color1;

        }
        p{
            color:$font-color3;
            font-family: $font-family2;
            text-align: center;
        }
    }

}
}