// BACKGROUD COLORS

$bg-color1: linear-gradient(rgba(7, 7, 7, 0.5), rgba(5,7,12,0.5));
$bg-color2: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
$bg-color3: yellow;

// FONT COLORS

$font-color1:white;
$font-color2:black;
$font-color3:rgb(214, 203, 203);

// FONT FAMILY
$font-family1:'Bebas Neue', cursive;
$font-family2: 'Playfair Display', serif;

// BORDER

$border1: solid black 1px;

