/* general style */

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;

}

body {
    background: url(../images/bg.jpg);
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


// variables //
@import "header";
@import "menu";
@import "main";
@import "footer";
@import "variables";
// // 